<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ import namespace="System.IO" #>
<#@ output extension=".cs" #>
using System.Reflection;

[assembly: AssemblyVersion("<#= File.ReadAllText(Path.Combine(this.Host.ResolvePath("."), "../../../Build/Version.txt")).Trim() #>")]
